@model Inmobiliaria2.Models.Pago

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pago</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contrato.IdContrato)
            @Html.DisplayFor(model => model.Contrato.Inmueble.Direccion)
            @Html.DisplayFor(model => model.Contrato.Inquilino.Dni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cuota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cuota)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NroCuota)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NroCuota)
        </dd>
        <dt class = "col-sm-2">
            Fecha Pago
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anulado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anulado)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
