@model IEnumerable<Inmobiliaria2.Models.Pago>

@{
    ViewData["Title"] = "Index";
    var IdContrato = ViewBag.IdContrato;
}

<h1>Listado de Pagos</h1>
<a asp-controller="Pago" asp-action="Create" asp-route-id="@IdContrato" title="PorContrato"> Agregar Nuevo Pago</a>&nbsp;

<table class="table">
    <thead>
        <tr>
            <th>
                Nro de Contrato
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cuota)
            </th>
            <th>
                Nro de Cuota
            </th>
            <th>
                Fecha de Pago
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anulado)
            </th>
            <th></th>    
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Contrato.IdContrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cuota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NroCuota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anulado)
            </td>
            <td>
                 @Html.ActionLink("Delete", "Delete", new { id=item.IdPago})
            </td>
        </tr>
}
    </tbody>
</table>
