@model Inmobiliaria2.Models.Inmueble

@{
    ViewData["Title"] = "Details";
    var latitud = ViewBag.Latitud;
    var longitud = ViewBag.Longitud;
    var propietario = ViewBag.Propietario;
}
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
          integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
            integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
            crossorigin=""></script>
</head>
<body>
    <h4>Detalles de inmueble</h4>
    <hr />
    <div style="float: left" class="col-md-4">
        <div>
            Due&ntilde;o: @Model.Propietario.Nombre @Model.Propietario.Apellido
		</div>
        <div>
            Direccion: @Model.Direccion
        </div>
        <div>
            Tipo: @Model.Tipo
        </div>
        <div>
            Uso: @Model.Uso
        </div>
        <div>
            Ambientes: @Model.Ambientes
        </div>
        <div>
            Precio: @Model.Precio
        </div>
        <div>
            Disponible: @Model.Disponible
        </div>
		
    </div>
    <div style="height: 400px;width:700px;float:left;margin-left:80px" id="map"></div>
    <script>
            var map = L.map('map').setView([@Model.Latitud, @Model.Longitud], 13);
            var marker = L.marker([@Model.Latitud, @Model.Longitud]).addTo(map);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
    </script>

</body>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}