@model Inmobiliaria2.Models.Inquilino

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inquilino</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dni)
        </dd>
        <dt class = "col-sm-2">
            Cuil/Cuit
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cuil_cuit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            Domicilio Trabajo
        </dt>
        <dd class = "col-sm-10">
            Domicilio Trabajo
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Domicilio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Domicilio)
        </dd>
        <dt class = "col-sm-2">
            Nombre Garante
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_garante)
        </dd>
        <dt class = "col-sm-2">
            Dni Garante
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dni_garante)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id= Model.IdInquilino }) |
    <a asp-action="Index">Back to List</a>
</div>
