@model IEnumerable<Inmobiliaria2.Models.Inquilino>

@{
    ViewData["Title"] = "Index";
}

<h1>Index Inquilinos</h1>

<p>
    <a asp-action="Create">Crear Inquilino</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Dni
            </th>
            <th>
               Cuil/Cuit
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Telefono
            </th>
            <th>
                Email
            </th>
            <th>
                Domicilio Trabajo
            </th>
            <th>
                Domicilio
            </th>
            <th>
                Nombre Garante
            </th>
            <th>
                Dni Garante
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cuil_cuit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Domicilio_trabajo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Domicilio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_garante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dni_garante)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.IdInquilino }) |
                    @Html.ActionLink("Details", "Details", new { id=item.IdInquilino }) |
                    @if (User.IsInRole("SuperAdministrador") || User.IsInRole("Administrador"))
                    {
                        @Html.ActionLink("Delete", "Delete", new { id=item.IdInquilino }) 
                    }
                   
            </td>
        </tr>
}
    </tbody>
</table>
